.App {
  /* margin: 0 auto; */
  background-color: #ffff;
  font-family: 'Poppins', sans-serif;
}


.navbar {
  height: 70px;
  box-shadow: 0 2px 7.46px rgb(0, 0, 0, 10%);
}

.navbar-logo {
  margin: 22px 30px;
  max-width: 100px;
  vertical-align: middle;
}


.hero {
  text-align: center;
}


.hero-image {
  padding: 20px 30px;
  text-align: center;
  max-width: 60%;
}


.hero-title, .hero-description {
  padding-left: 70px;
  padding-right: 40%;
  text-align: left;
}

.hero-title {
  padding-top: 20px;
  padding-bottom: -10px;
  font-size: 2.25rem;
  font-weight: 600;
}

.hero-description {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 20px;
}


.card {
  width: 175px;
  font-size: 12px;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-rating {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}